<div class="container ">
    <div class="pb-2">
        <div class="col-lg shadow border m-1 cart ">
            <div class="text-center">
                <br>
                <p><i class="bi bi-geo-alt-fill"></i> Sainte Clotilde, La Réunion</p> <br>
                <p><i class="bi bi-telephone-fill"></i> (+262)0692308634</p><br>
                <p><i class="bi bi-envelope-fill"></i><a href="mailto:alexis.irana@laposte.net"> alexis.irana@laposte.net</a></p> <br>
                <p><i class="bi bi-linkedin"></i> <a href="https://www.linkedin.com/in/alexis-irana" target="_blank"> linkedin.com/in/alexis-irana</a></p><br>
                <p><i class="bi bi-github"></i> <a href="https://github.com/gintomate" target="_blank"> github.com/gintomate</a></p> 
            </div>
        </div>
    </div>
</div>