<div class="container">
    <div class="mb-2">
        <div>
            <button class="btn btn-outline-primary me-2 mb-2" (click)="isCollapsed = !isCollapsed">Filter</button>
            <button class="btn btn-outline-secondary mb-2" (click)="ResetFilters()" [hidden]="!filtering">Reset</button>
        </div>
        <div [collapse]="isCollapsed" [isAnimated]="true">
            <div class="border mb-2 shadow-sm" style="width: 250px;">
                <form>
                    <div class="row mx-0">
                        <div class="col">
                            <small><b>Langages: </b></small>
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input position-static me-2"
                                        [(ngModel)]="typescript" (change)="Filter()" name="TypeScript">
                                    <label class="form-check-label">TypeScript</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input position-static me-2"
                                        [(ngModel)]="javascript" (change)="Filter()" name="Javascript">
                                    <label class="form-check-label">JavaScript</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input position-static me-2"
                                        [(ngModel)]="python" (change)="Filter()" name="Python">
                                    <label class="form-check-label">Python</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input position-static me-2"
                                        [(ngModel)]="csharp" (change)="Filter()" name="CSharp">
                                    <label class="form-check-label">C#</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input position-static me-2"
                                        [(ngModel)]="java" (change)="Filter()" name="Java">
                                    <label class="form-check-label">Java</label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <small><b>Framework: </b></small>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input position-static me-2"
                                    [(ngModel)]="angular" (change)="Filter()" name="Angular">
                                <label class="form-check-label">Angular</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input position-static me-2" [(ngModel)]="react"
                                    (change)="Filter()" name="React">
                                <label class="form-check-label">React</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input position-static me-2"
                                    [(ngModel)]="aspnet" (change)="Filter()" name="AspNet">
                                <label class="form-check-label">ASP.NET</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input position-static me-2"
                                    [(ngModel)]="Nodejs" (change)="Filter()" name="Nodejs">
                                <label class="form-check-label">Node.JS</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let project of projects " class="col-lg-4 col-md-6 mb-4 "
            style="max-width: 380px;min-width: 380px;">
            <app-project-card [project]="project"></app-project-card>
        </div>
    </div>

</div>